*{
    box-sizing: border-box;
    margin:0;
    border: none;
}
body {
    font-family: 'Roboto';
    font-weight: 600;
}


@media screen and (max-width:550px){
    .middlebar > *:not(:last-child){
        display: none !important;
    }
    .middlebar{
        min-width: 40px !important;
    }
    .rightbar{
        min-width: 40px !important;
    }
    .rightbar > *:not(:nth-child(2)){
        display: none !important;
    }
    .navbar{
        gap:0 !important;
    }
    .speechiconbox{
        margin:0 !important;
    }
}

.navbar{
    height:56px;
    width:100%;
    padding: 0 1rem 0 1rem;
    gap:0.9rem;
    background-color: #0f0f0f;
    border: 3px solid black;
    display: flex;
    justify-content:space-between;       ;
    align-items: center;
    
}

.iconbox {
    height: 40px;
    width: 40px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.iconbox:hover {
    cursor: pointer;
    background-color: #272727;
    transition: background-color 0.2s ease;
}


.leftbar{
    flex-shrink: 0;
    height:56px;
    width:169px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logobox{
    height: 54px;
    width: 123px;
    overflow: hidden;
}
.logobox>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
    transform: scale(1.1);
}


.middlebar{
    height:56px;
    width:732px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 82px;
}
.searchbox{
    height: 40px;
    width: 536px;
    min-width: 0;
}
.searchbox>input {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-size: 1rem;
    color: white;
    padding-left: 0.8rem;
    border-top-left-radius: 1.93rem;
    border-bottom-left-radius: 1.93rem;
    border: 2px solid #303030;
    border-right: none;
    background-color: #121212;
}
.searchbox>input:focus {
    outline: none;
    border: 2px solid blue;
}
.searchiconbox {
    width: 64px;
    min-width: 40px;
    height: 40px;
    color: white;
    border: 2px solid #303030;
    background-color: #222222;
    border-top-right-radius: 1.93rem;
    border-bottom-right-radius: 1.93rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.speechiconbox{
    min-width:40px;
    background-color: #222222;
    margin-left: 0.9rem;
}
.speechiconbox:hover {
    cursor: pointer;
    background-color: #3f3f3f;
    transition: background-color 0.2s ease;
}


.rightbar{
    height:56px;
    width:225px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.9rem;
}
.createbox{
    width: 97.18px;
    height: 36px;
    border-radius: 1.93rem;
    color:white;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createbox:hover {
    cursor: pointer;
    background-color: #3f3f3f;
    transition: background-color 0.2s ease;
}
.createbox>span>i{
    margin-right: 0.7rem;
}
.userbox > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
